<h1 class="text-center margin-bottom-customized">¡Bienvenido al Sistema Integral
  de Becas!</h1>

<%= render "static_pages/partials/carousel" %>
<%= render "static_pages/partials/info_description" %>

<div id="candidate-section" class="margin-customized">
  <% unless current_user.nil? %>
    <%= render "static_pages/partials/candidate_view" %>
  <% end %>
</div>

<div id="tutor-section" class="margin-customized">
  <% unless current_user.nil? %>
    <%= render "static_pages/partials/tutor_view" %>
  <% end %>
</div>

<div id="admin-section" class="margin-customized">
  <% unless current_user.nil? %>
      <%= render "static_pages/partials/admin_view" %>
  <% end %>
</div>