<p id="notice"><%= notice %></p>

<h1>Lista de becas</h1>

<table class="table table-hover" id="table-list-scholarships">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Universidad</th>
      <th>Fecha de inicio</th>
      <th>Fecha de cierre</th>
      <th colspan="3">Operaciones</th>
    </tr>
  </thead>

  <tbody>
    <% @scholarships.each do |scholarship| %>
      <tr>
        <td><%= scholarship.name %></td>
        <td><%= scholarship.university.name %></td>
        <td><%= scholarship.start_date %></td>
        <td><%= scholarship.end_date %></td>
        <td>
          <%= link_to scholarship do %>
            <span class="glyphicon glyphicon-eye-open"></span>
          <% end %>
        </td>
        <td>
          <%= link_to edit_scholarship_path(scholarship) do %>
            <span class="glyphicon glyphicon-edit"></span>
          <% end %>
        </td>
        <td> 
          <%= link_to scholarship, method: :delete, data: { confirm: "<p>¿Seguro que desea <strong class='text-danger'>ELIMINAR</strong> la beca con la siguiente información?
                  <ul>
                    <li>Nombre de la beca: <strong class='text-info'>#{scholarship.name}</strong></li>
                    <li>Nombre de la universidad que la ofrece: <strong class='text-info'>#{scholarship.university.name}</strong></li>
                  </ul>
                </p>" } do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear beca', new_scholarship_path, class: "btn btn-primary" %>
