<p id="notice"><%= notice %></p>

<h1>Listing Scholarships</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>University</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Description</th>
      <th>Requirements</th>
      <th>Benefits offered</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scholarships.each do |scholarship| %>
      <tr>
        <td><%= scholarship.name %></td>
        <td><%= scholarship.university %></td>
        <td><%= scholarship.start_date %></td>
        <td><%= scholarship.end_date %></td>
        <td><%= scholarship.description %></td>
        <td><%= scholarship.requirements %></td>
        <td><%= scholarship.benefits_offered %></td>
        <td><%= scholarship.url %></td>
        <td><%= link_to 'Show', scholarship %></td>
        <td><%= link_to 'Edit', edit_scholarship_path(scholarship) %></td>
        <td><%= link_to 'Destroy', scholarship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scholarship', new_scholarship_path %>
