<% if current_user_tutor? %>
    <% unless current_user.work_materials.empty? %>
        <div class="panel panel-default">
          <div class="panel-heading">
            Sus materiales de trabajo
          </div>
          <div class="panel-body">
            <div class="row">
              <% current_user.work_materials.limit(3).each do
              |work_material| %>
                  <div class="col-md-4">
                    <div class="work_material-image">
                      <%= link_to image_tag(work_material.attachment
                                                .url(:large)),
                                  work_material %>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
    <% else %>
        <div class="col-lg-12 nopadding">
          <% if can? :create, WorkMaterial %>
              <%= link_to new_work_material_path, default: t('helpers.links.new'), class: 'btn btn-primary pull-right' do %>
                  <span class="glyphicon glyphicon-plus"></span> Crear
              <% end %>
          <% end %>
        </div>
        <%= image_tag('/images/materials/sin_materiales.png', class: 'center-img') %>
    <% end %>
    <% unless current_user.candidates.empty? %>
        <div class="panel panel-default">
          <div class="panel-heading">
            Sus aspirantes
          </div>
          <div class="row">
            <% current_user.candidates.limit(3).each do
            |candidate| %>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-3">
                      <label>Nombre:</label>
                      <%= candidate.user_name %>
                    </div>
                    <div class="col-md-3">
                      <label>Correo:</label>
                      <%= candidate.email %>
                    </div>
                    <div class="col-md-3">
                      <label>Fecha de solicitud:</label>
                      <%= candidate.requested_date %>
                    </div>
                    <div class="col-md-3">
                      <label>Estado:</label>
                      <% if candidate.pending %>
                          Pendiente
                      <% else %>
                          Aceptado
                      <% end %>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
    <% end %>
<% end %>