<%- model_class = UsersWorkMaterial -%>
<div class="col-lg-6">
  <%= image_tag @users_work_material.work_material.attachment.url(:large) %>
</div>
<div class="col-lg-5">
  <%= simple_form_for @users_work_material, :html => {:class => 'form-horizontal'} do |f| %>
      <dl class="users_work_material_progress dl-horizontal">
        <%= f.input :comment %>
        <%= error_span(@users_work_material[:comment]) %>
        <dt><strong><%= model_class.human_attribute_name(:done) %>:</strong></dt>
        <dd>
          <% if @users_work_material.done %>
              <span class="fa fa-check-circle-o"></span>
          <% else %>
              <span class="fa fa-times"></span>
          <% end %>
        </dd>
        <%= f.input :progress %>
        <%= error_span(@users_work_material[:progress]) %>
      </dl>
      <%= f.button :submit, :class => 'btn btn-info primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  users_work_materials_path, :class => 'btn btn-default' %>
  <% end %>
</div>
