<%- model_class = UsersWorkMaterial -%>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped table-responsive table-bordered text-center" id="users-work-materials-table">
  <thead>
  <tr>
    <th><%= WorkMaterial.human_attribute_name(:id) %></th>
    <th><%= WorkMaterial.human_attribute_name(:name) %></th>
    <th><%= model_class.human_attribute_name(:progress) %></th>
    <th><%= t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @users_work_materials.each do |users_work_material| %>
      <tr>
        <td><%= users_work_material.id %></td>
        <td><%= users_work_material.work_material.name %></td>
        <td>
          <div class="progress">
            <%
              status = 'progress-bar-'
              if users_work_material.progress <= 30
                status << 'danger'
              elsif users_work_material.progress <= 60
                status << 'warning'
              else
                status << 'success'
              end
            %>
            <div class="progress-bar <%= status %>"
                 role="progressbar"
                 aria-valuenow="<%= users_work_material.progress %>"
                 aria-valuemin="0"
                 aria-valuemax="100"
                 style="width: <%= users_work_material.progress %>%; color: #000">
              <%= users_work_material.progress %>%
            </div>
          </div>
        </td>
        <td>
          <% if can? :update, users_work_material %>
              <%= link_to users_work_material do %>
                  <span class="glyphicon glyphicon-eye-open"></span>
              <% end %>
              <%= link_to edit_users_work_material_path(users_work_material) do %>
                  <span class="glyphicon glyphicon-pencil"></span>
              <% end %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>