<%- model_class = Tutor -%>
<%- model_class_tutor_person = Person -%>
<br><br>
<div class="col-md-4">
  <%= image_tag @tutor.image_profile.url(:medium) %>
</div>
<div class="col-md-8">

<fieldset>
  <legend>Datos generales</legend>
  <dl class="dl-horizontal">
    <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
    <dd><%= @tutor.email %></dd>
    <dt><strong><%= model_class.human_attribute_name(:user_name) %>:</strong>
    </dt>
    <dd><%= @tutor.user_name %></dd>
  </dl>
</fieldset>

<fieldset>
  <legend>Intereses</legend>
  <% unless @tutor.person.nil? %>
        <div class="row">

          <div class="col-md-6">
            <strong>
              <%= model_class_tutor_person.human_attribute_name(:name) %>:
            </strong>
            <%= @tutor.person.name %>
          </div>
          <div class="col-md-6">
              <strong>
                <%= model_class_tutor_person.human_attribute_name(:last_name) %>:
              </strong>
            <%= @tutor.person.last_name %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <strong>
              <%= model_class_tutor_person.human_attribute_name(:university) %>:
            </strong>
            <%= @tutor.person.university %>
          </div>
          <div class="col-md-6">
            <strong>
              <%= model_class_tutor_person.human_attribute_name(:area_of_interest) %>:
            </strong>
            <%= @tutor.person.area_of_interest %>

          </div>
        </div>
  <% end %>
</fieldset>
</div>

<%= link_to t('.back', :default => t("helpers.links.back")),
            tutors_path, :class => 'btn btn-default' %>
<% if current_user_candidate? %>
    <% if current_user.tutor_id.nil? %>
        <div class="pull-right">
          <%= link_to request_as_tutor_path(current_user, @tutor),
                      :method => :get,
                      class: 'btn btn-primary',
                      :data => {:confirm =>
                                    "<p>¿Seguro que desea  enviar la solicitud de tutor a <b>#{@tutor.user_name}</b>?</p>"} do %>
              Solicitar tutor
              <span class="fa fa-arrow-right"></span>
          <% end %>
        </div>
    <% else %>
        <% unless current_user.pending %>
            <div class="pull-right">
              <h3>
                <span class="label label-success">El tutor ya te ha aceptado</span>
              </h3>
              <%= link_to cancel_tutoring_path(@tutor, current_user),
                          title: 'Cancelar tutoría',
                          :method => :get,
                          class: 'btn btn-primary',
                          :data => { :confirm =>
                                         "<p>¿Está seguro que desea <strong
                           class='text-danger'>CANCELAR</strong>
                           la tutoría con la
                           siguiente información?
                           <ul>
                           <li>Nombre del tutor: <strong
                                    class='text-info'>#{@tutor
                                             .person.name}</strong></li>
                                    <li>Correo del usuario: <strong
                                    class='text-info'>#{@tutor
                                             .email}</strong></li>
                           </ul>
                           </p>" } do %>
                  <span class="fa fa-thumbs-o-down"> Cancelar tutoría</span>
              <% end %>         
            </div>
        <% end %>
        <% if current_user.pending %>
            <div class="pull-right">
              <h3><span class="label label-warning">Esperando confirmación del tutor</span>
              </h3>
            </div>
        <% end %>
    <% end %>
<% end %>
