<%- model_class = Candidate -%>
<%- model_class_tutor_person = Person -%>

<div class="page-header text-center">
  <h1><%= t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<div class="row">
  <div class="col-md-6 text-center">
    <%= image_tag @candidate.image_profile.url(:medium) %>
  </div>

  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">Datos generales</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4"><strong><%= model_class.human_attribute_name(:email) %>: </strong></div>
          <div class="col-md-8"><%= @candidate.email %></div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4"><strong><%= model_class.human_attribute_name(:user_name) %></strong>:</div>
          <div class="col-md-8"><%= @candidate.user_name %></div>
        </div>
      </div>
    </div>
    <hr>
    <% unless @candidate.person.nil? %>
        <div class="panel panel-info">
          <div class="panel-heading">Intereses</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-4"><strong><%= model_class_tutor_person.human_attribute_name(:name) %>:</strong></div>
              <div class="col-md-8"><%= @candidate.person.name %></div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4"><strong><%= model_class_tutor_person.human_attribute_name(:last_name) %>:</strong></div>
              <div class="col-md-8"><%= @candidate.person.last_name %></div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4"><strong><%= model_class_tutor_person.human_attribute_name(:university) %>:</strong></div>
              <div class="col-md-8"><%= @candidate.person.university %></div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4"><strong><%= model_class_tutor_person.human_attribute_name(:area_of_interest) %>:</strong></div>
              <div class="col-md-8"><%= @candidate.person.area_of_interest %></div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4"><strong><%= model_class_tutor_person.human_attribute_name(:comments) %>:</strong></div>
              <div class="col-md-8"><%= @candidate.person.comments %></div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-md-offset-1 pull-left">
    <%= link_to :back, class: 'btn btn-default' do %>
        <i class="fa fa-arrow-left"></i>
        <%= t('.back', :default => t('helpers.links.back')) %>
    <% end %>
    <% if @candidate.pending %>
        <%= link_to accept_candidate_path(@candidate),
                    :method => :get,
                    :data => {:confirm =>
                                  "<p>¿Seguro que desea <strong
                                        class='text-danger'>ACEPTAR</strong> el
                                        candidato con la siguiente información?
                                    <ul>
                                    <li>Nombre del candidato: <strong
                                    class='text-info'>#{@candidate
                                      .person.name}</strong></li>
                                    <li>Correo del usuario: <strong
                                    class='text-info'>#{@candidate
                                      .email}</strong></li>
                                    </ul>
                                    </p>"}, class: 'btn btn-default' do %>
            Aceptar candidato
            <span class="fa fa-thumbs-o-up"></span>
        <% end %>
        <%= link_to reject_candidate_path(@candidate),
                    :method => :get,
                    :data => {:confirm =>
                                  "<p>¿Seguro que desea <strong
                                        class='text-danger'>RECHAZAR</strong> el
                                        candidato con la siguiente información?
                                    <ul>
                                    <li>Nombre del candidato: <strong
                                    class='text-info'>#{@candidate
                                      .person.name}</strong></li>
                                    <li>Correo del usuario: <strong
                                    class='text-info'>#{@candidate
                                      .email}</strong></li>
                                    </ul>
                                    </p>"}, class: 'btn btn-default' do %>
            Rechazar candidato
            <span class="fa fa-trash-o"></span>
        <% end %>
    <% else %>
        <%= link_to cancel_tutoring_path, class: 'btn btn-danger',
                    title: "eliminar solicitud",
                    :method => :get,
                    :data => { :confirm =>
                           "<p>¿Está seguro que desea <strong
                           class='text-danger'>CANCELAR</strong>
                           la tutoría para el candidato con la
                           siguiente información?
                           <ul>
                           <li>Nombre del candidato: <strong
                                    class='text-info'>#{@candidate
                               .person.name}</strong></li>
                                    <li>Correo del usuario: <strong
                                    class='text-info'>#{@candidate
                               .email}</strong></li>
                           </ul>
                           </p>" } do %>
            <span class="fa fa-trash-o"></span>
            Cancelar tutoría
        <% end %>
    <% end %>
  </div>
</div>
<br><br>