<%- model_class = Tutor -%>
<%- model_class_tutor_person = Person -%>

<div class="page-header text-center">
  <h1><%= t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<div class="row">
  <div class="col-md-6 text-center">
    <%= image_tag @tutor.image_profile.url(:medium) %>
  </div>
  <div class="col-md-6">
    <fieldset>
      <legend>Datos generales</legend>
      <div class="row">
        <div class="col-md-4"><strong><%= model_class.human_attribute_name(:email) %>:</strong></div>
        <div class="col-md-4"><%= @tutor.email %></div>
      </div>
      <div class="row">
        <div class="col-md-4"><strong><%= model_class.human_attribute_name(:user_name) %>:</strong></div>
        <div class="col-md-4"><%= @tutor.user_name %></div>
      </div>
    </fieldset>
    <hr>
    <fieldset>
      <legend>Intereses</legend>
      <% unless @tutor.person.nil? %>
          <div class="row">
            <div class="col-md-4"><strong><%= model_class_tutor_person.human_attribute_name(:name) %>:</strong></div>
            <div class="col-md-4"><%= @tutor.person.name %></div>
          </div>

          <div class="row">
            <div class="col-md-4"><strong><%= model_class_tutor_person.human_attribute_name(:last_name) %>:</strong></div>
            <div class="col-md-4"><%= @tutor.person.last_name %></div>
          </div>

          <div class="row">
            <div class="col-md-4"><strong><%= model_class_tutor_person.human_attribute_name(:university) %>:</strong></div>
            <div class="col-md-4"><%= @tutor.person.university %></div>
          </div>

          <div class="row">
            <div class="col-md-4"><strong><%= model_class_tutor_person.human_attribute_name(:area_of_interest) %>:</strong></div>
            <div class="col-md-4"><%= @tutor.person.area_of_interest %></div>
          </div>
      <% end %>
    </fieldset>
  </div>
</div>

<div class="col-md-offset-1 pull-left">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                tutors_path, :class => 'btn btn-default' %>
    <% if current_user_candidate? %>
        <% if current_user.tutor_id.nil? %>
              <%= link_to request_as_tutor_path(current_user, @tutor),
                          :method => :get,
                          class: 'btn btn-primary',
                          :data => {:confirm =>
                                        "<p>¿Seguro que desea  enviar la solicitud de tutor a <b>#{@tutor.user_name}</b>?</p>"} do %>
                  Solicitar tutor
                <span class="fa fa-arrow-right"></span>
              <% end %>
        <% else %>
            <% if current_user.pending == false %>
              <span style="margin-left: 10px; font-size: 15px" class="lead label label-success">El tutor ya te ha aceptado</span>
            <% end %>
            <% if current_user.pending == true %>
              <span style="margin-left: 10px; font-size: 15px" class="label label-warning">Esperando confirmación del tutor</span>
            <% end %>
        <% end %>
    <% end %>
</div>
