<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <br><br><br><br>
        <h6>SIB - Sistema Integral de Becas</h6>
      </div>

      <div class="social-links col-md-4 text-center">
        <br>
        <p class="big">
          <span>Siguenos en: </span>
          <a href="https://github.com/AlexAriz/SIB">
            <i class="fa fa-github-square fa-2x"></i>GitHub
          </a>
        </p>
      </div>

      <div class="col-md-4 text-center">
        <br><br><br>
        <h6>Conta al equipo de desarrollo</h6>
        <ul>
          <li><%= link_to "Alejandro", "https://github.com/AlexAriz" %></li>
          <li><%= link_to "Eduardo", "https://github.com/EddieBenji" %></li>
          <li><%= link_to "Carlos", "https://github.com/Carlos-NBS" %></li>
          <li><%= link_to "Víctor", "https://github.com/LuffyV" %></li>
          <li><%= link_to "Crhistian", "https://github.com/BuiRai" %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>