<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <br><br><br>
        <h6>Contacta al equipo de desarrollo</h6>
        <ul>
          <li><%= link_to "Alejandro", "https://github.com/AlexAriz", class: 'footer-links' %></li>
          <li><%= link_to "Eduardo", "https://github.com/EddieBenji", class: 'footer-links' %></li>
          <li><%= link_to "Carlos", "https://github.com/Carlos-NBS", class: 'footer-links' %></li>
          <li><%= link_to "Víctor", "https://github.com/LuffyV", class: 'footer-links' %></li>
          <li><%= link_to "Crhistian", "https://github.com/BuiRai", class: 'footer-links' %></li>
        </ul>
      </div>

      <div class="social-links col-md-4 text-center">
        <p class="big">
          <span>Siguenos en: </span><br>
          <a href="https://github.com/AlexAriz/SIB">
            <i class="fa fa-github-square fa-2x"></i><br>GitHub
          </a>
        </p>
      </div>

      <div class="col-md-4">
        <%= image_tag('/images/SIB.png') %>
      </div>
    </div>
  </div>
</footer>