<footer class="footer">
  <div class="container">
    <div class="social-links">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p class="big">
              <span>Siguenos en: </span>
              <a href="https://www.facebook.com/DevelopersMexico">
                <i class="fa fa-facebook-official fa-2x"></i>Facebook
              </a>
              <a href="https://github.com/AlexAriz/SIB">
                <i class="fa fa-github-square fa-2x"></i>GitHub
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h6>Sistem integral de becas</h6>
      </div>

      <div class="col-md-4 text-center">
        <h6>Integrantes</h6>
        <ul>
          <li><%= link_to "Alejandro", "https://github.com/AlexAriz" %></li>
          <li><%= link_to "Eduardo", "https://github.com/EddieBenji" %></li>
          <li><%= link_to "Carlos", "https://github.com/Carlos-NBS" %></li>
          <li><%= link_to "Víctor", "https://github.com/LuffyV" %></li>
          <li><%= link_to "Crhistian", "https://github.com/BuiRai" %></li>
        </ul>
      </div>

      <div class="col-md-4 text-center">
        <h6>Otra cosa</h6>
      </div>
    </div>
  </div>
</footer>