<p id="notice"><%= notice %></p>

<h1>Listing Work Materials</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>File src</th>
      <th>Tutor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_materials.each do |work_material| %>
      <tr>
        <td><%= work_material.name %></td>
        <td><%= work_material.description %></td>
        <td><%= work_material.file_src %></td>
        <td><%= work_material.user_id %></td>
        <td><%= link_to 'Show', work_material %></td>
        <td><%= link_to 'Edit', edit_work_material_path(work_material) %></td>
        <td><%= link_to 'Destroy', work_material, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work material', new_work_material_path %>
