<div id="container">
  <div class="col-lg-offset-10">
    <% if can? :create, @work_material %>
        <%= link_to 'Agregar material de trabajo', new_work_material_path, class: 'btn btn-info' %>
    <% end %>
  </div>
  <div class="row">
    <% @work_materials.each do |work_material| %>
        <div class="col-lg-4 work-material card">
          <div class="card-block">
            <h4 class="card-title">
              <%= work_material.name %>
            </h4>
          </div>
          <div class="work_material-image">
            <%= image_tag work_material.attachment.url(:large), class: 'card-img-top' %>
          </div>
          <div class="work-material card-block">
            <%= link_to t('.destroy', :default => t("helpers.links.destroy_html")),
                                       work_material_path(work_material),
                                      :method => :delete,
                                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                      :class => 'btn btn-danger' %>
            <%= link_to work_material, :class => 'btn btn-success' do %>
                <span class="glyphicon glyphicon-eye-open"></span>
                <% end %>
            <%= link_to edit_work_material_path(work_material), :class => 'btn btn-info' do %>
                <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
  <%= will_paginate @work_materials %>
</div>