<%= simple_form_for @university, :html => {:class => 'form-horizontal'} do |f| %>

    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :country, value_method: :id,
                  input_html: {
                      'data-live-search' => true,
                      class: 'selectpicker',
                      multiple: false,
                  },
                  prompt: true,
                  required: true %>
      <%= f.input :state %>
      <%= f.input :city %>
      <%= f.input :information %>
      <%= f.input :url %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn-success', value: 'Guardar información de universidad' %>
    </div>
<% end %>
