<%- model_class = University -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human(count: 2)%></h1>
</div>
<table class="table table-striped table-responsive table-bordered text-center" id="universities-table">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:city) %></th>
      <th><%= model_class.human_attribute_name(:state) %></th>
      <th><%= model_class.human_attribute_name(:country) %></th>
      <th><%=t '.actions', :default => t('helpers.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @universities.each do |university| %>
      <tr>
        <td><%= university.name %></td>
        <td><%= university.city %></td>
        <td><%= university.state %></td>
        <td><%= university.country %></td>
        <td>
          <%= link_to university do %>
              <span class="glyphicon glyphicon-eye-open"></span>
          <% end %>
          <% if can? :manage, @university %>
              <%= link_to edit_university_path(university) do %>
                  <span class="glyphicon glyphicon-edit"></span>
              <% end %>
              <%= link_to university, method: :delete, data: {confirm: "<p>¿Seguro que desea <strong class='text-danger'>ELIMINAR</strong> la Universidad?
                  <ul>
                    <li>Nombre de la universidad: <strong class='text-info'>#{university.name}</strong></li>
                  </ul>
                </p>"} do %>
                  <span class="glyphicon glyphicon-remove"></span>
              <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t('helpers.links.new')),
            new_university_path,
            :class => 'btn btn-primary' %>
