<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIB</title>

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', :media => "all" %>

  <%= javascript_include_tag "application" %>
</head>
<body>

<div class="container">
  <p><%= bootstrap_flash %></p>
</div>

<div class="container">

  <div class="pull-right">
    <% if user_signed_in? %>
        <div class="row">
          <label class="pull-right">
            Bienvenido: <%= current_user.user_name %>
          </label>
        </div>

        <% if current_user_admin? %>
            <%= link_to 'Gestionar usuarios', users_index_path, class: 'btn btn-default' %>
            <%= link_to 'Gestionar becas', scholarships_path, class: 'btn btn-default' %>
        <% end %>
        <% if current_user_tutor? %>
            <%= link_to 'Gestionar materiales de trabajo', work_materials_path, class: 'btn btn-default' %>
        <% elsif current_user_candidate? %>
            <%= link_to 'Ver materiales de trabajo', work_materials_path , class: 'btn btn-default'%>
            <%= link_to 'Ver tutores', tutors_path , class: 'btn btn-default'%>

        <% end %>
        <%= link_to 'Cerrar sesión', destroy_user_session_path, :method => 'delete', class: 'btn btn-danger' %>

  <% else %>
        <%= link_to 'Iniciar sesión', new_user_session_path %>
    <% end %>

  </div>
  <div class="container">
    <%= yield %>
  </div>
</div>
</body>
</html>
